:root {
    --color-primary: #360033;
    --color-secondary: #0b8793;

    --color-grey-ligh-1: #faf9f9;
    --color-grey-ligh-2: #f4f2f2;
    --color-grey-ligh-3: #f0eeee;

    --color-grey-dark-1: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, 
    var(--color-primary), var(--color-secondary));
    background-size: cover;
    background-repeat: no repeat;
    min-height: 100vh;
}

.container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.text {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 10rem;
    margin-right: 2.25rem;
    &__input {
        font-family: inherit;
        font-size: 1.7rem;
        color: var(--color-grey-dark-1);
        background-color: var(--color-grey-ligh-2);
        border: none;
        padding: 1.5rem 2rem;
        border-radius: .4rem;
        box-shadow: var(--shadow-dark);
        width: 70%;
        transition: all .3s;
        margin-right: -4.25rem;
        &:focus {
            outline: none;
            width: 90%;
            background-color: var(--color-grey-ligh-3);
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-dark-1);
        }
    }
    &__input:focus ~ &__button {
        background-color: var(--color-grey-ligh-3);
    }
    &__button {
        border: none;
        background-color: var(--color-grey-ligh-2);
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(.2rem);
        }
        & i {
            color: var(--color-grey-dark-1);
            font-size: 2.5rem;
        }
    }
}

.paragraph {
    color: var(--color-grey-ligh-1);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0 1.1rem;
}